.delete {
    position: absolute;
    right: 70px;
    /* top: 32px; */
    width: 32px;
    height: 25px;
    opacity: 0.3;
  }
  .delete:hover {
    opacity: 1;
  }
  .delete:before, .delete:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #333;
  }
  .delete:before {
    transform: rotate(45deg);
  }
  .delete:after {
    transform: rotate(-45deg);
  }

  

  .edit {
    width: 10px ;
    height: 12px ;
    background: dimgray ;
    position: relative ;
    transform: rotate(30deg);
    opacity: 0.3;
  }

  .edit:hover {
    opacity: 1;
  }

  .edit::before {
    content: "" ;
    position: absolute ;
    width: 10px ;
    height: 10px ;
    background: dimgray ;
    top: -8px ;
  }
  .edit::after {
    content: "" ;
    position: absolute ;
    width: 8px ;
    height: 8px ;
    background: black ;
    left: 1px ;
    bottom: -4px ;
    transform: rotate(45deg);
  }

.save {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}

.save:hover {
    opacity: 1;
}

.save::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #333;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.save::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #333;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}