@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Cabin:wght@500&family=Roboto+Slab&display=swap');

@media (max-width: 1725px) {
    .output-overview-container {
        position: absolute;
        top: 1200px;
        left: 50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }
}

.output-overview-container::-webkit-scrollbar {
    width: 0;
}
  